<a href="https://colab.research.google.com/github/AimeeJLewis/Nueral_Network_Charity_Analysis/blob/main/Module_19_4_2%2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving HR-Employee-Attrition.csv to HR-Employee-Attrition.csv

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [4]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [11]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 2s 4ms/step - loss: 1566.9790 - accuracy: 0.1779
Epoch 2/100
35/35 [==============================] - 0s 3ms/step - loss: 324.0122 - accuracy: 0.4392
Epoch 3/100
35/35 [==============================] - 0s 3ms/step - loss: 52.2292 - accuracy: 0.7976
Epoch 4/100
35/35 [==============================] - 0s 4ms/step - loss: 48.2227 - accuracy: 0.7568
Epoch 5/100
35/35 [==============================] - 0s 4ms/step - loss: 45.4585 - accuracy: 0.7768
Epoch 6/100
35/35 [==============================] - 0s 3ms/step - loss: 43.6589 - accuracy: 0.7731
Epoch 7/100
35/35 [==============================] - 0s 4ms/step - loss: 40.2484 - accuracy: 0.7604
Epoch 8/100
35/35 [==============================] - 0s 3ms/step - loss: 36.1064 - accuracy: 0.7704
Epoch 9/100
35/35 [==============================] - 0s 3ms/step - loss: 31.6387 - accuracy: 0.7532
Epoch 10/100
35/35 [==============================] - 0s 3ms/step - loss: 29.7732 - accuracy: 0.7396
Epoch 11/100
35/35 [==============================] - 0s 4ms/step - loss: 26.9042 - accuracy: 0.7468
Epoch 12/100
35/35 [==============================] - 0s 3ms/step - loss: 24.9528 - accuracy: 0.7532
Epoch 13/100
35/35 [==============================] - 0s 3ms/step - loss: 23.3063 - accuracy: 0.7550
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 22.1279 - accuracy: 0.7477
Epoch 15/100
35/35 [==============================] - 0s 3ms/step - loss: 20.1745 - accuracy: 0.7559
Epoch 16/100
35/35 [==============================] - 0s 3ms/step - loss: 18.0861 - accuracy: 0.7613
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 15.8983 - accuracy: 0.7550
Epoch 18/100
35/35 [==============================] - 0s 3ms/step - loss: 14.1662 - accuracy: 0.7595
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 12.9986 - accuracy: 0.7468
Epoch 20/100
35/35 [==============================] - 0s 3ms/step - loss: 11.9580 - accuracy: 0.7586
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 10.1994 - accuracy: 0.7477
Epoch 22/100
35/35 [==============================] - 0s 3ms/step - loss: 9.8989 - accuracy: 0.7595
Epoch 23/100
35/35 [==============================] - 0s 3ms/step - loss: 7.5913 - accuracy: 0.7532
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 6.2600 - accuracy: 0.7486
Epoch 25/100
35/35 [==============================] - 0s 4ms/step - loss: 6.6569 - accuracy: 0.7550
Epoch 26/100
35/35 [==============================] - 0s 4ms/step - loss: 4.4116 - accuracy: 0.7623
Epoch 27/100
35/35 [==============================] - 0s 4ms/step - loss: 3.0210 - accuracy: 0.7486
Epoch 28/100
35/35 [==============================] - 0s 4ms/step - loss: 2.6126 - accuracy: 0.7568
Epoch 29/100
35/35 [==============================] - 0s 4ms/step - loss: 1.7088 - accuracy: 0.7541
Epoch 30/100
35/35 [==============================] - 0s 4ms/step - loss: 1.7344 - accuracy: 0.7495
Epoch 31/100
35/35 [==============================] - 0s 4ms/step - loss: 1.3420 - accuracy: 0.7659
Epoch 32/100
35/35 [==============================] - 0s 4ms/step - loss: 1.2623 - accuracy: 0.7713
Epoch 33/100
35/35 [==============================] - 0s 4ms/step - loss: 2.1070 - accuracy: 0.7523
Epoch 34/100
35/35 [==============================] - 0s 3ms/step - loss: 1.8598 - accuracy: 0.7323
Epoch 35/100
35/35 [==============================] - 0s 3ms/step - loss: 1.6369 - accuracy: 0.7550
Epoch 36/100
35/35 [==============================] - 0s 3ms/step - loss: 1.2031 - accuracy: 0.7759
Epoch 37/100
35/35 [==============================] - 0s 3ms/step - loss: 1.6090 - accuracy: 0.7613
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 2.6834 - accuracy: 0.7777
Epoch 39/100
35/35 [==============================] - 0s 3ms/step - loss: 2.3502 - accuracy: 0.7387
Epoch 40/100
35/35 [==============================] - 0s 4ms/step - loss: 1.5000 - accuracy: 0.7604
Epoch 41/100
35/35 [==============================] - 0s 3ms/step - loss: 2.3834 - accuracy: 0.7641
Epoch 42/100
35/35 [==============================] - 0s 3ms/step - loss: 2.3725 - accuracy: 0.7396
Epoch 43/100
35/35 [==============================] - 0s 3ms/step - loss: 1.4211 - accuracy: 0.7586
Epoch 44/100
35/35 [==============================] - 0s 3ms/step - loss: 4.7983 - accuracy: 0.7477
Epoch 45/100
35/35 [==============================] - 0s 3ms/step - loss: 1.7543 - accuracy: 0.7450
Epoch 46/100
35/35 [==============================] - 0s 3ms/step - loss: 2.8614 - accuracy: 0.7405
Epoch 47/100
35/35 [==============================] - 0s 4ms/step - loss: 1.3365 - accuracy: 0.7568
Epoch 48/100
35/35 [==============================] - 0s 3ms/step - loss: 1.3755 - accuracy: 0.7786
Epoch 49/100
35/35 [==============================] - 0s 3ms/step - loss: 1.7855 - accuracy: 0.7659
Epoch 50/100
35/35 [==============================] - 0s 3ms/step - loss: 1.6850 - accuracy: 0.7577
Epoch 51/100
35/35 [==============================] - 0s 3ms/step - loss: 2.7874 - accuracy: 0.7477
Epoch 52/100
35/35 [==============================] - 0s 3ms/step - loss: 3.2030 - accuracy: 0.7196
Epoch 53/100
35/35 [==============================] - 0s 3ms/step - loss: 1.5387 - accuracy: 0.7532
Epoch 54/100
35/35 [==============================] - 0s 3ms/step - loss: 2.1973 - accuracy: 0.7377
Epoch 55/100
35/35 [==============================] - 0s 4ms/step - loss: 2.2930 - accuracy: 0.7632
Epoch 56/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8134 - accuracy: 0.8013
Epoch 57/100
35/35 [==============================] - 0s 3ms/step - loss: 1.3349 - accuracy: 0.7722
Epoch 58/100
35/35 [==============================] - 0s 3ms/step - loss: 2.0269 - accuracy: 0.7505
Epoch 59/100
35/35 [==============================] - 0s 3ms/step - loss: 1.5855 - accuracy: 0.7632
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 1.1668 - accuracy: 0.7740
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2095 - accuracy: 0.7713
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 1.5216 - accuracy: 0.7632
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3838 - accuracy: 0.7731
Epoch 64/100
35/35 [==============================] - 0s 3ms/step - loss: 1.1138 - accuracy: 0.7822
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 2.1953 - accuracy: 0.7523
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3691 - accuracy: 0.7886
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2351 - accuracy: 0.7659
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2561 - accuracy: 0.7795
Epoch 69/100
35/35 [==============================] - 0s 3ms/step - loss: 1.7601 - accuracy: 0.7459
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 1.5842 - accuracy: 0.7287
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 2.8508 - accuracy: 0.7486
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4894 - accuracy: 0.7468
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 1.0668 - accuracy: 0.7886
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2930 - accuracy: 0.7759
Epoch 75/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7438 - accuracy: 0.7759
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9938 - accuracy: 0.7668
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3140 - accuracy: 0.7695
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 2.5585 - accuracy: 0.7223
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4958 - accuracy: 0.7568
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9915 - accuracy: 0.7668
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 1.6739 - accuracy: 0.7486
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3152 - accuracy: 0.7786
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7522 - accuracy: 0.7822
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9101 - accuracy: 0.7804
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2570 - accuracy: 0.7704
Epoch 86/100
35/35 [==============================] - 0s 3ms/step - loss: 1.5918 - accuracy: 0.7532
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3717 - accuracy: 0.7577
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 1.0480 - accuracy: 0.7804
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2169 - accuracy: 0.7613
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3119 - accuracy: 0.7613
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2217 - accuracy: 0.7623
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 1.9352 - accuracy: 0.7623
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 3.0048 - accuracy: 0.7541
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3536 - accuracy: 0.7967
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2154 - accuracy: 0.7958
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 1.0352 - accuracy: 0.8149
Epoch 97/100
35/35 [==============================] - 0s 3ms/step - loss: 1.4520 - accuracy: 0.7613
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 2.0406 - accuracy: 0.7650
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 2.0742 - accuracy: 0.7577
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 1.1274 - accuracy: 0.7813

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.6195 - accuracy: 0.8478 - 185ms/epoch - 15ms/step
Loss: 1.6195048093795776, Accuracy: 0.8478260636329651